.header a{
    text-decoration: none;
}
.navbar{
    background-image: url(./Img/body.png);
    background-position: top bottom;
    background-size: contain;
    position: sticky;
    top: 0;
    display: block;
    z-index: 9999;
}
.navbar ul li a{
    text-transform: uppercase;
}
.box{
    padding-bottom: 150px;
}
.box .container{
    position: relative;
}
.box h4{
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.box a i{
    color: white;
    font-size: 50px;
    padding: 30px 0;
}
.box-design {
	position: absolute;
	top: -130px;
	left: 0;
}
.dialouge-box{
    margin-top: 30px;
    margin-bottom: 50px;
}
.dialouge-box .topic h1{
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.dialouge-box .topic p{
    padding: 10px 200px;
    text-align: center;
    margin-bottom: 30px;
}
.dialouge-box .card-title{
    font-weight: 700;
}
